.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #f53b3b;
}

.login-links {
    margin-top: 20px;
    text-align: center;
}

.forgot-password {
    display: block;
    color: rgb(243, 52, 52);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.no-account {
    font-size: 14px;
}

.no-account a {
    color: rgb(243, 52, 52);
    text-decoration: none;
    font-weight: bold;
}

.no-account a:hover {
    text-decoration: underline;
}

input.error {
    border-color: red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}


/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        padding: 10px;
    }

    .login-form {
        padding: 15px;
    }

    input {
        padding: 8px;
    }

    .login-button {
        font-size: 14px;
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .login-form {
        padding: 10px;
        border-radius: 6px;
    }

    .login-button {
        font-size: 14px;
        padding: 8px;
    }

    .forgot-password, .no-account {
        font-size: 12px;
    }
}
