/* home.css */

.container-content {
    width: 80%;
    margin: 20px auto; /* Adiciona espaçamento acima e centraliza horizontalmente */
  }
  
  .content-spacing {
    margin-top: 90px; /* Espaçamento adicional entre o conteúdo e o header */
  }
  

/* home.css */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cria até 3 cards por linha */
  gap: 16px; /* Espaçamento entre os cards */
  justify-content: center; /* Centraliza os cards horizontalmente */
  align-items: start; /* Alinha os cards ao topo, se houver múltiplas linhas */
  margin-top: 20px; /* Espaçamento adicional acima da grid */
}

@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards por linha para telas menores */
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr; /* 1 card por linha para telas muito pequenas */
  }
}
