.carousel-container {
    width: 80%; /* Define a largura do carrossel */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px 0; /* Espaçamento superior e inferior */
    text-align: center; /* Centraliza o conteúdo dentro, se necessário */
}

.custom-slider img {
    border-radius: 8px; /* Adiciona cantos arredondados às imagens */
    object-fit: cover; /* Ajusta o conteúdo da imagem */
}
