/* Nav.css */

.navbar-filtros {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;   /* Alinha os itens verticalmente */
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0); /* Fundo transparente */
    font-weight: bold;
    font-size: large;
}

.navbar-filtros .rs-nav {
    display: flex;
    gap: 20px; /* Espaçamento entre os menus */
}
